* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Buttons container */
.btns {
  margin: 0px 15px;
}

/* Buttons */
.btns button {
  padding: 12px 22px;
  border: none;
  border-radius: 25px;
  background: #ffffff;
  color: #333;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.btns button:hover {
  background: #ff9800;
  color: #fff;
}

.tv {
  width: 420px;
  height: 260px;
  background: #fff;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}

/* Image inside TV */
.tv img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
