<div
  class="post-card app-card app-card-hover d-flex h-100 overflow-hidden"
  [class]="layout === 'horizontal' ? 'flex-column flex-lg-row' : 'flex-column'"
  (click)="goToDetails()"
>
  <app-post-card-img [src]="post.image" [alt]="post.title" [layout]="layout"> </app-post-card-img>

  <div class="d-flex flex-column flex-grow-1 justify-content-between min-w-0">
    <app-post-card-content [post]="post"> </app-post-card-content>

    <app-post-card-actions [post]="post" [layout]="layout"> </app-post-card-actions>
  </div>
</div>
