.feature-icon {
  width: var(--font-size-8xl);
  height: var(--font-size-8xl);
  background: var(--surface-soft);
  font-size: var(--font-size-3xl);
  border-radius: 50%;
}

.feature-title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--text-primary);
}

.feature-desc {
  font-size: var(--font-size-sm);
  color: var(--text-muted);
}