.stats-number {
  font-size: var(--font-size-3xl);
  color: var(--primary-color);
  font-weight: bold;
}

.stats-label {
  font-size: var(--font-size-sm);
  font-weight: medium;
  color: var(--text-muted);
  line-height: 1;
}