.post-content {
  padding: var(--font-size-lg) var(--font-size-lg) var(--font-size-sm);
}

.source-name {
  font-size: var(--font-size-sm);
  color: var(--text-muted);
  font-weight: 600;
}

.source-meta {
  font-size: var(--font-size-xs);
  color: var(--text-muted);
}

.post-title {
  font-size: var(--font-size-md);
  color: var(--text-primary);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.post-excerpt {
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}