<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand fs-5 fw-bold d-flex align-items-center gap-2" routerLink="/home">
      <span class="brand-dot rounded-circle d-inline-block"></span>
      DevFeed
    </a>

    <!-- Navbar links -->
    <button
      class="navbar-toggler p-0 border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMain"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarMain">
      <ul class="navbar-nav mx-auto gap-1">
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/home" routerLinkActive="active-nav"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/posts" routerLinkActive="active-nav"> Posts </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/about" routerLinkActive="active-nav"> About </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/profile" routerLinkActive="active-nav">
            Profile
          </a>
        </li>
      </ul>

      <!-- Auth Buttons -->
      <div class="d-flex gap-2 mt-2 mt-lg-0">
        <button class="btn btn-outline" routerLink="/login">Log in</button>

        <button class="btn btn-primary" routerLink="/signup">Sign up — Free</button>
      </div>
    </div>
  </div>
</nav>
