@import "../../Lap01/css/main.css";

fieldset {
  width: 600px;
  border: 4px solid #0000ff85;
  padding: 20px;
  margin: 40px auto;
}

legend {
  font-weight: bold;
  color: crimson;
  font-size: 2em;
}

input {
  margin: 10px 0;
}
