.site-footer {
  background: var(--surface-primary);
  color: var(--text-muted-light);
  font-size: var(--font-size-xs);
  padding: var(--radius-3xl) 0;
}

.logo {
  font-size: var(--font-size-md);
  color: var(--text-inverse);
  font-weight: bold;
}

.description {
  font-size: var(--font-size-sm);
  margin-top: 0.1rem;
}

.footer-link {
  cursor: pointer;
  text-decoration: none;
  transition: color var(--transition-fast);
  color: var(--text-muted-light);

  &:hover {
    color: var(--primary-color);
  }
}