.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  padding: 10px 15px;
  color: black;
  background: rgba(23, 112, 23, 0.462);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.btn.active {
  background: rgba(255, 0, 0, 0.783);
  color: white;
}

.posts {
  margin-top: 20px;
}

.posts li {
  margin-bottom: 10px;
}
