<div class="post-content">
  <div class="d-flex align-items-center gap-2 mb-2">
    <div
      class="source-avatar d-flex align-items-center justify-content-center text-white fw-bold"
      [style.background]="post.sourceColor"
    >
      {{ post.sourceInitial }}
    </div>

    <div>
      <div class="source-name fw-semibold">
        {{ post.sourceName }}
      </div>

      <div class="source-meta">
        {{ post.time }}
        ·
        <span class="read-badge d-inline-block">
          {{ post.readTime }}
        </span>
      </div>
    </div>
  </div>

  <div class="post-title mb-2 fw-bold lh-1">
    {{ post.title }}
  </div>

  <div class="post-excerpt">
    {{ post.description }}
  </div>
</div>
